
#controls-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 800px;
}

.control-group {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    width: 30vw;
    margin: 1em;
}

.controls-item {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    font-size: 2em;
}

.bar:hover {
    opacity: 0.5;
}


.x.axis .tick text {
    transform-origin: top left;
    transform: 
        translate(10px, 10px)
        rotate(45deg);
}