#board-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.5em;
    width: 75vw;
    height: 50vw;
    background-color: black;
}

.board-tile {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: white;
}

.win-row {
    background-color: red;
}

.win-column {
    background-color: green;
}

.win-cross0 {
    background-color: purple;
}

.win-cross1 {
    background-color: blue;
}