#board-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.5em;
    width: 75vw;
    height: 50vw;
    background-color: black;
}

.board-tile {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: white;
}

.win-row {
    background-image:
        linear-gradient(
            to top,
            white 50%,
            red 0
        );
}

.win-column {
    background-image:
        linear-gradient(
            to right,
            white 50%,
            red 0
        );
}

.win-cross0 {
    background-image:
        linear-gradient(
            to bottom left,
            white 50%,
            red 0
        );
}

.win-cross1 {
    background-image:
        linear-gradient(
            to bottom right,
            white 50%,
            red 0
        );
}